@use '../variables' as *;

@mixin header-menu {
	display: flex;
	gap: 3.125rem;
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;

	a {
		color: $color-text-secondary;
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover {
			color: $color-primary;
		}
	}

	.current-menu-item > a {
		color: $color-primary;
	}
}

.header {
	background-color: $color-white;
	transition: .3s padding linear, .05s background-color;

	&.fixed {
		padding-top: 0;
		background-color: $color-white;
	}

	.navbar {
		padding-bottom: 0;

		.navbar-brand {
			margin-bottom: 1.25rem;
			padding: 0;

			&:hover {
				opacity: 0.8;
			}
		}
	}
	.menu-header-container {
		.menu {
			@include header-menu;
		}
	}

	@media (min-width: 768px) {
		.navbar-nav {
			gap: 3.437rem;
		}
	}

	@media (max-width: 767.98px) {
		.offcanvas {
			&.offcanvas-end {
				--bs-offcanvas-width: 62%;
				top: 6.15rem;
				bottom: 0;
			}

			&-body {
				padding: 2rem 1.5rem;
			}
		}

		.navbar-nav {
			width: 100%;
			align-items: flex-end;
			text-align: right;
			gap: 2.437rem;

			.nav-item {
				margin-bottom: 1rem;
			}

			.nav-link {
				font-size: 0.9rem;
				letter-spacing: 0.05rem;
			}
		}

		.navbar-toggler {
			border: none;
			padding: 0;
			width: 2.3125rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 6px;

			&:focus {
				box-shadow: none;
			}

			span {
				display: block;
				width: 24px;
				height: 2px;
				background-color: $color-primary;
				transition: all 0.3s ease;
			}

			&.active {
				span {
					background-color: $color-text-primary;
				}
			}
		}
	}
}

body.admin-bar {
  .header {
    padding-top: 0.5rem;
  }
}

.nav-item {
	.menu-header-container {
		.menu {
			@include header-menu;
		}
	}
}
